@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss" ;


/* creating a custom classes for my self */

@theme {
    --color-primary : #464BF1;
    --color-black-para : oklch(26.9% 0 0);
    --color-secondry : oklch(14.5% 0 0) ;
    --font-para : "Poppins"  ;
    --font-headings : "Montserrat" ;
    
}



.wrapper{
    padding: 0 1rem;
}



